.root {
    -fx-background-color: #DAD2BC;
}

#title {
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: #252323;
}

#table {
    -fx-background-color: #F5F1ED;
    -fx-font-size: 14;
}
.btn {
    -fx-background-color: #A99985;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -webkit-transition-duration: 0.4s;
}

.btn:hover {
    -fx-background-color: #827566;
    -fx-text-fill: #F5F1ED;
}

.table-view .column-header {
    -fx-background-color: #8991A3;
    -fx-font-size: 14;
    -fx-border-color: #6F7684;
}

.choice-box {
    -fx-background-color: #959EB2;
    -fx-font-size: 14;
}

.text-field {
    -fx-font-size: 14;
}